.content-section {
    display: flex;
    flex-direction: row; /* Располагаем блоки горизонтально */
    align-items: center; /* Выравниваем по вертикали */
    justify-content: space-between; /* Раздвигаем блоки */
    gap: 40px; /* Отступ между блоками */
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
}

.info-section {
    display: flex;
    gap: 40px; /* Расстояние между фото и текстом */
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
  }
  
  .image-container {
    flex: 1; /* Фото занимает 50% */
  }
  
  .image-container img {
    width: 100%;
    border-radius: 15px; /* Закругление углов */
  }
  
.text-container {
    flex: 1; /* Чтобы текст занял 50% */
    padding: 20px;
}
  .section-line {
    width: 10px;
    height: 4px;
    background: black;
    margin-bottom: 10px;
  }
  
  .text-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .text-container p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .stats {
    display: flex;
    gap: 30px;
    flex-wrap: wrap; /* Чтобы адаптировалось под мобильные */
  }
  
  .stat {
    text-align: left;
  }
  
  .number {
    font-size: 2rem;
    font-weight: bold;
    display: block;
  }
  
  .stat p {
    color: #666;
  }
  
  .image-grid {
    flex: 1; /* Чтобы занять 50% ширины контейнера */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
    gap: 15px; /* Отступы между картинками */
    padding: 6%;
    background-color: rgba(169, 169, 169, 0.287);
}
  
  .image-box {
      position: auto;
      overflow: hidden; /* Обрезаем края */
      border-radius: 20px; /* Закругляем углы */
  }
  
  .image-box img {
      width: 80%;
      height: auto;
      display: block;
      transition: transform 0.3s ease-in-out;
  }
  
  .image-box:hover img {
      transform: scale(1.05); /* Легкое увеличение при наведении */
  }

  